.ui.segment:first-child {
  margin-top: 45px;
}

/* mixin for multiline */
.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
  margin-right: 20px;
}

.app-contaianer {
  margin-bottom: 80px;
}

.all-posts.ui.items>.item .extra.post-footer {
  display: flex;
  justify-content: flex-end;
}

.all-posts.ui.items>.item:nth-child(odd) {
  background: #e0e0e0;
}

.all-posts.ui.items>.item>.image+.content {
  padding: 1em 1em 0.5em 1.5em;
}
